In [1]:
import pandas as pd

In [2]:
dff=pd.read_csv("ANSUR_II_FEMALE_Public.csv")
dfm=pd.read_csv("ANSUR_II_MALE_Public.csv")
print(dfm.info())
print(dff.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4082 entries, 0 to 4081
Columns: 108 entries, subjectid to WritingPreference
dtypes: int64(99), object(9)
memory usage: 3.4+ MB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1986 entries, 0 to 1985
Columns: 108 entries, SubjectId to WritingPreference
dtypes: int64(99), object(9)
memory usage: 1.6+ MB
None

In [3]:
dfm.describe()

,subjectid,abdominalextensiondepthsitting,acromialheight,acromionradialelength,anklecircumference,axillaheight,balloffootcircumference,balloffootlength,biacromialbreadth,bicepscircumferenceflexed,...,waistfrontlengthsitting,waistheightomphalion,weightkg,wristcircumference,wristheight,SubjectNumericRace,DODRace,Age,Heightin,Weightlbs
count,4082.000000,4082.000000,4082.000000,4082.000000,4082.000000,4082.000000,4082.000000,4082.000000,4082.000000,4082.000000,...,4082.000000,4082.000000,4082.000000,4082.000000,4082.000000,4082.000000,4082.000000,4082.000000,4082.000000,4082.000000
mean,20003.370897,254.650906,1440.736894,335.244488,229.343949,1329.082068,252.017148,200.935081,415.675649,358.135718,...,387.642822,1056.485301,855.239588,175.916707,847.511514,8.973542,1.534052,30.158991,70.035767,188.004900
std,6568.435122,37.327178,63.287242,17.482795,14.649102,59.516123,12.936131,10.470947,19.161654,34.618093,...,29.349007,52.154671,142.206992,8.955055,41.655628,83.012638,0.958815,8.810118,2.947419,29.941869
min,10027.000000,163.000000,1194.000000,270.000000,156.000000,1106.000000,186.000000,156.000000,337.000000,246.000000,...,293.000000,876.000000,393.000000,141.000000,695.000000,1.000000,1.000000,17.000000,60.000000,0.000000
25%,14270.250000,227.000000,1398.000000,324.000000,219.250000,1289.000000,243.000000,194.000000,403.000000,335.000000,...,367.000000,1020.000000,756.000000,170.000000,819.000000,1.000000,1.000000,23.000000,68.000000,168.000000
50%,17236.500000,251.000000,1439.000000,335.000000,228.000000,1328.000000,252.000000,201.000000,415.000000,357.000000,...,386.000000,1055.000000,846.000000,176.000000,847.000000,1.000000,1.000000,28.000000,70.000000,185.000000
75%,27315.750000,279.000000,1481.000000,346.000000,239.000000,1367.000000,261.000000,208.000000,428.000000,380.000000,...,407.000000,1090.000000,944.000000,182.000000,875.000000,2.000000,2.000000,36.000000,72.000000,207.000000
max,29452.000000,451.000000,1683.000000,393.000000,293.000000,1553.000000,306.000000,245.000000,489.000000,490.000000,...,494.000000,1245.000000,1442.000000,216.000000,1009.000000,4251.000000,8.000000,58.000000,94.000000,321.000000

In [4]:
df=pd.concat([dff,dfm])
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 6068 entries, 0 to 4081
Columns: 109 entries, SubjectId to subjectid
dtypes: float64(2), int64(98), object(9)
memory usage: 5.1+ MB

In [5]:
df.drop(columns=["subjectid"], inplace=True)
df.columns

Index(['SubjectId', 'abdominalextensiondepthsitting', 'acromialheight',
       'acromionradialelength', 'anklecircumference', 'axillaheight',
       'balloffootcircumference', 'balloffootlength', 'biacromialbreadth',
       'bicepscircumferenceflexed',
       ...
       'Branch', 'PrimaryMOS', 'SubjectsBirthLocation', 'SubjectNumericRace',
       'Ethnicity', 'DODRace', 'Age', 'Heightin', 'Weightlbs',
       'WritingPreference'],
      dtype='object', length=108)

In [6]:
print(df.columns.values)

['SubjectId' 'abdominalextensiondepthsitting' 'acromialheight'
 'acromionradialelength' 'anklecircumference' 'axillaheight'
 'balloffootcircumference' 'balloffootlength' 'biacromialbreadth'
 'bicepscircumferenceflexed' 'bicristalbreadth' 'bideltoidbreadth'
 'bimalleolarbreadth' 'bitragionchinarc' 'bitragionsubmandibulararc'
 'bizygomaticbreadth' 'buttockcircumference' 'buttockdepth'
 'buttockheight' 'buttockkneelength' 'buttockpopliteallength'
 'calfcircumference' 'cervicaleheight' 'chestbreadth' 'chestcircumference'
 'chestdepth' 'chestheight' 'crotchheight' 'crotchlengthomphalion'
 'crotchlengthposterioromphalion' 'earbreadth' 'earlength' 'earprotrusion'
 'elbowrestheight' 'eyeheightsitting' 'footbreadthhorizontal' 'footlength'
 'forearmcenterofgriplength' 'forearmcircumferenceflexed'
 'forearmforearmbreadth' 'forearmhandlength' 'functionalleglength'
 'handbreadth' 'handcircumference' 'handlength' 'headbreadth'
 'headcircumference' 'headlength' 'heelanklecircumference' 'heelbreadth'
 'hipbreadth' 'hipbreadthsitting' 'iliocristaleheight'
 'interpupillarybreadth' 'interscyei' 'interscyeii' 'kneeheightmidpatella'
 'kneeheightsitting' 'lateralfemoralepicondyleheight'
 'lateralmalleolusheight' 'lowerthighcircumference' 'mentonsellionlength'
 'neckcircumference' 'neckcircumferencebase'
 'overheadfingertipreachsitting' 'palmlength' 'poplitealheight'
 'radialestylionlength' 'shouldercircumference' 'shoulderelbowlength'
 'shoulderlength' 'sittingheight' 'sleevelengthspinewrist' 'sleeveoutseam'
 'span' 'stature' 'suprasternaleheight' 'tenthribheight'
 'thighcircumference' 'thighclearance' 'thumbtipreach' 'tibialheight'
 'tragiontopofhead' 'trochanterionheight' 'verticaltrunkcircumferenceusa'
 'waistbacklength' 'waistbreadth' 'waistcircumference' 'waistdepth'
 'waistfrontlengthsitting' 'waistheightomphalion' 'weightkg'
 'wristcircumference' 'wristheight' 'Gender' 'Date' 'Installation'
 'Component' 'Branch' 'PrimaryMOS' 'SubjectsBirthLocation'
 'SubjectNumericRace' 'Ethnicity' 'DODRace' 'Age' 'Heightin' 'Weightlbs'
 'WritingPreference']

In [7]:
dff1=dff[["Heightin","handcircumference","Branch","Gender"]]
dff1.describe(include="all")

           Heightin  handcircumference                  Branch  Gender
count   1986.000000        1986.000000                    1986    1986
unique          NaN                NaN                       3       1
top             NaN                NaN  Combat Service Support  Female
freq            NaN                NaN                    1256    1986
mean      64.601712         186.550352                     NaN     NaN
std        2.801938           8.819987                     NaN     NaN
min       56.000000         152.000000                     NaN     NaN
25%       63.000000         180.000000                     NaN     NaN
50%       64.000000         187.000000                     NaN     NaN
75%       66.000000         192.000000                     NaN     NaN
max       80.000000         214.000000                     NaN     NaN

In [8]:
dffrn=dff1.rename(columns={"Heightin":"Höjdin", "Branch":"Enhet"})

In [9]:
dffrn

      Höjdin  handcircumference                   Enhet  Gender
0         61                182          Combat Support  Female
1         64                187  Combat Service Support  Female
2         68                198  Combat Service Support  Female
3         66                192  Combat Service Support  Female
4         63                183             Combat Arms  Female
...      ...                ...                     ...     ...
1981      67                197          Combat Support  Female
1982      63                196          Combat Support  Female
1983      66                192          Combat Support  Female
1984      63                177          Combat Support  Female
1985      66                187          Combat Support  Female

[1986 rows x 4 columns]

In [10]:
dffrn["Höjd cm"]=dffrn["Höjdin"]*2.54
dffrn

      Höjdin  handcircumference                   Enhet  Gender  Höjd cm
0         61                182          Combat Support  Female   154.94
1         64                187  Combat Service Support  Female   162.56
2         68                198  Combat Service Support  Female   172.72
3         66                192  Combat Service Support  Female   167.64
4         63                183             Combat Arms  Female   160.02
...      ...                ...                     ...     ...      ...
1981      67                197          Combat Support  Female   170.18
1982      63                196          Combat Support  Female   160.02
1983      66                192          Combat Support  Female   167.64
1984      63                177          Combat Support  Female   160.02
1985      66                187          Combat Support  Female   167.64

[1986 rows x 5 columns]

In [11]:
dffrn[dffrn["Enhet"]=="Combat Support"]

      Höjdin  handcircumference           Enhet  Gender  Höjd cm
0         61                182  Combat Support  Female   154.94
15        66                193  Combat Support  Female   167.64
17        67                178  Combat Support  Female   170.18
20        60                180  Combat Support  Female   152.40
21        66                185  Combat Support  Female   167.64
...      ...                ...             ...     ...      ...
1981      67                197  Combat Support  Female   170.18
1982      63                196  Combat Support  Female   160.02
1983      66                192  Combat Support  Female   167.64
1984      63                177  Combat Support  Female   160.02
1985      66                187  Combat Support  Female   167.64

[687 rows x 5 columns]